@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}

/*===================================
# colors
===================================*/
/*===================================
# 共通
===================================*/
body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", serif !important;
  line-height: 1.6875;
  list-style: none;
}

img {
  width: 100%;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0;
  }
}

.wrap {
  padding: 90px 0;
}
@media screen and (max-width: 767px) {
  .wrap {
    padding: 50px 0;
  }
}

.util-title {
  font-size: 80px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .util-title {
    font-size: 40px;
  }
}

.center-line {
  position: relative;
  text-align: center;
  margin: 1em 0;
  border: none;
  font-weight: normal;
  color: #333;
  margin-bottom: 30px;
}
.center-line::before {
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.center-line span {
  background-color: #fff;
  display: inline-block;
  padding: 0 1em;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}
.center-line span small {
  color: #999;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 30px;
  display: block;
}
@media screen and (max-width: 767px) {
  .center-line span small {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .center-line span {
    font-size: 30px;
  }
}

.center-line__white {
  text-align: center;
  display: flex;
  margin-bottom: 30px;
}
.center-line__white::before, .center-line__white::after {
  flex: 1;
  height: 2px;
  content: "";
  background-color: #fff;
  position: relative;
  top: 1rem;
}
.center-line__white::before {
  margin-right: 1rem;
  margin-top: 30px;
}
.center-line__white::after {
  margin-left: 1rem;
  margin-top: 30px;
}
.center-line__white span {
  color: #fff;
  display: inline-block;
  padding: 0 1em;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}
.center-line__white span small {
  color: #999;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 30px;
  display: block;
}
@media screen and (max-width: 767px) {
  .center-line__white span small {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .center-line__white span {
    font-size: 30px;
  }
}

h3 small {
  color: #999;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
}

h2 small {
  color: #999;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: block;
  font-size: 20px;
}

.Grid small {
  color: #999;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 12px;
}

/*===================================
# メディアクエリ
===================================*/
.is-pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

/*===================================
# margin
===================================*/
.mb-130 {
  margin-bottom: 130px;
}

/*===================================
# スライダー
===================================*/
.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300px;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 300px;
  height: 100%;
  text-align: center;
  line-height: 0;
}

/*===================================
# ボタン　オレンジ
===================================*/
a.btn--orange {
  color: #fff;
  background-color: #FF0000;
}

a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn-c {
  font-size: 2rem;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  border-radius: 20px;
}

a.btn-c i.fa {
  margin-right: 1rem;
}

a.btn-c:before {
  font-size: 1.6rem;
  line-height: 1;
  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1rem;
  margin: 0;
  padding: 0;
  content: "→";
}

.tomYouBtn {
  margin-top: 50px;
}

a.sellBtn--orange {
  color: #fff;
  background-color: #eb6100;
}
a.sellBtn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.sellBtn-c {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 100vh;
}

/*===================================
# contact　ボタン
===================================*/
.lead {
  background: #A2933F;
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .lead {
    padding: 30px 0;
  }
}

.lp-wrapper {
  margin: 0 auto;
}

.box-lead-01 {
  text-align: center;
}

.util-btn {
  text-align: center;
  font-size: 60px;
  background-color: #fff;
  display: inline-block;
  width: 60%;
  height: auto;
  border-radius: 44px;
  transition: all 0.5s ease;
}
.util-btn:hover {
  background: #333;
}
.util-btn > a {
  color: #333;
  text-decoration: none;
  display: block;
}
.util-btn > a:hover {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .util-btn {
    font-size: 30px;
  }
}

/*===================================
# header
===================================*/
.header {
  background: #A2933F;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header-inner {
  align-items: center;
}

.header-logo {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .header-logo {
    padding: 15px 0;
  }
}

.header-nav-list {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .header-nav-list {
    display: block;
    padding: 30px 10px;
  }
}

.header-nav-item-link {
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  height: 50px;
  width: 100%;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .header-nav-item-link {
    font-size: 17px;
    color: #000;
  }
}

.header-nav-item + .header-nav-item {
  margin-left: 100px;
}
@media screen and (max-width: 767px) {
  .header-nav-item + .header-nav-item {
    margin-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    margin-left: 0px;
  }
}

/*===================================
# main
===================================*/
.main {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .main {
    margin-top: 47px;
  }
}

/*===================================
# section-main
===================================*/
.mainvisual-inner {
  height: 42.846vw;
  background: url(/img/tomlab_mv.png) center center/cover no-repeat;
  position: relative;
}

.mainvisual-text {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  transform: translate(50%, -50%);
}

.mainvisual-title {
  font-size: 50px;
}

/*===================================
# section-01
===================================*/
.section-01__info {
  position: relative;
}
.section-01__info-item {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  align-items: center;
  border-bottom: 1px solid #707070;
}
.section-01__info-item__value {
  margin-top: 0;
  padding: 6px 0;
  flex: 1;
  font-weight: bold;
  font-size: 50px;
}
@media screen and (max-width: 767px) {
  .section-01__info-item__value {
    font-size: 20px;
  }
}
.section-01__info-item__key {
  margin-top: 0;
  padding: 6px 0;
  flex: 1;
  font-size: 40px;
  z-index: 99;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section-01__info-item__key {
    text-align: center;
    font-size: 20px;
  }
}
.section-01__info-box {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(50%);
  opacity: 0.7;
  width: 30%;
  height: 100%;
  background-color: #CCD0D5;
}
@media screen and (max-width: 767px) {
  .section-01__info-box {
    left: 50%;
    transform: translateX(10%);
    width: 40%;
  }
}

/*===================================
# section-02
===================================*/
.section-02 {
  background-color: #3B4043;
  color: #fff;
}

.section-02-inner {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .section-02-inner {
    padding: 0 20px;
  }
}

.section-02__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 150px;
}
@media screen and (max-width: 767px) {
  .section-02__items {
    display: block;
  }
}

.section-02__item {
  width: 48%;
  position: relative;
}
.section-02__item:nth-child(n+3) {
  margin-top: 30px;
}
.section-02__item-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 36px;
  background: rgba(32, 34, 34, 0.7);
  color: #fff;
  z-index: 1;
  box-sizing: border-box;
  list-style: none;
}
.section-02__item-title {
  font-size: 40px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .section-02__item {
    width: 100%;
  }
  .section-02__item:nth-child(n+2) {
    margin-top: 30px;
  }
}

/*===================================
# section-03
===================================*/
.section-03 {
  background-color: #202020;
}

.section-03__gallery-content-wrapper {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: scroll;
}
@media screen and (max-width: 767px) {
  .section-03__gallery-content-wrapper {
    height: 100%;
    display: block;
    margin-top: 30px;
  }
}

.section-03__slick-slide {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 5px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .section-03__slick-slide {
    flex-wrap: inherit;
    width: 100%;
    flex-shrink: inherit;
    margin: 0;
  }
  .section-03__slick-slide:not(:last-child) {
    margin-bottom: 10px;
  }
}

.section-03__gitem {
  flex-basis: 50%;
  height: 33.33333%;
  position: relative;
  overflow: hidden;
}
.section-03__gitem:last-of-type {
  flex-basis: 100%;
  height: 66.66667%;
  overflow: inherit;
}
.section-03__gitem--first {
  flex-basis: 50%;
  height: 33.33333%;
  position: relative;
  overflow: hidden;
}
.section-03__gitem--first:first-of-type {
  flex-basis: 100%;
  height: 66.66667%;
}
@media screen and (max-width: 767px) {
  .section-03__gitem--first {
    flex-basis: 100%;
    height: 0;
    overflow: inherit;
  }
  .section-03__gitem--first:nth-child(n+2) {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .section-03__gitem {
    flex-basis: 100%;
    height: 100%;
  }
  .section-03__gitem:nth-child(n+2) {
    margin-left: 10px;
  }
}

/*===================================
# section-04
===================================*/
/*===================================
# section-05
===================================*/
.section-05__movie-wrapper {
  text-align: center;
}

.movieFlex {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .movieFlex {
    display: block;
  }
}

.movieBox {
  margin: 10px 30px;
}

/*===================================
# section-06
===================================*/
.section-06 {
  background-color: #3B4043;
  color: #fff;
}

.section-06__container-box {
  width: 90%;
  flex-shrink: 0;
}
.section-06__container-box:nth-child(n+2) {
  margin-left: 100px;
}
@media screen and (max-width: 767px) {
  .section-06__container-box {
    margin-top: 30px;
  }
  .section-06__container-box:nth-child(n+2) {
    margin-left: 20px;
  }
}

.section-06__info {
  position: relative;
}
.section-06__info-item {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  align-items: center;
  border-bottom: 1px solid #707070;
}
.section-06__info-item__value {
  margin-top: 0;
  padding: 6px 0;
  flex: 1;
  font-weight: bold;
  font-size: 50px;
}
@media screen and (max-width: 767px) {
  .section-06__info-item__value {
    font-size: 20px;
  }
}
.section-06__info-item__key {
  text-align: center;
  margin-top: 0;
  padding: 6px 0;
  flex: 1;
  font-size: 40px;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  .section-06__info-item__key {
    font-size: 30px;
  }
}
.section-06__info-box {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(50%);
  opacity: 0.7;
  width: 600px;
  height: 500px;
  background-color: #CCD0D5;
}

.flex {
  display: flex;
  height: auto;
  overflow-x: scroll;
}

/*===================================
# section-07
===================================*/
.section-07__movie-wrapper {
  text-align: center;
}

/*===================================
# section-08
===================================*/
.section-08 {
  background: #3B4043;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .section-08__container {
    margin-top: 30px;
  }
}

.section-08__items {
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow-x: scroll;
  list-style: none;
}

.section-08__item {
  background: #CDD6DD;
  width: 40%;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.section-08__item:nth-child(n+2) {
  margin-left: 40px;
}
.section-08__item-body {
  color: #3B4043;
  padding: 30px;
}
.section-08__item-title {
  font-size: 30px;
}
.section-08__item-text {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .section-08__item {
    width: 90%;
  }
}

.section-08__item-color {
  position: relative;
  text-align: center;
}

.section-08__item-souldout {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30px;
  left: 0;
  padding: 36px;
  background: rgba(32, 34, 34, 0.5);
  color: #fff;
  z-index: 1;
  box-sizing: border-box;
  list-style: none;
}

.section-08__info {
  position: relative;
  background: #fff;
  padding: 0 20px;
}
.section-08__info-item {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  align-items: center;
}
.section-08__info-item:not(:last-child) {
  border-bottom: 1px solid #707070;
}
.section-08__info-item__value {
  margin-top: 0;
  padding: 6px 0;
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}
.section-08__info-item__key {
  text-align: right;
  margin-top: 0;
  padding: 6px 0;
  flex: 1;
  font-size: 30px;
  z-index: 99;
}
.section-08__info-box {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(50%);
  opacity: 0.7;
  width: 600px;
  height: 500px;
  background-color: #CCD0D5;
}

/*===================================
# contact
===================================*/
.section-contact {
  background: #F0F3F5;
}

.contact {
  background: #F0F3F5;
  padding: 40px 16px;
}
.contact input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
.contact input[type=checkbox] {
  display: none;
}
.contact .util-ttl {
  color: #fff;
  text-align: center;
}

.contact-inner {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  width: 100%;
}

.contact-header {
  color: #fff;
  background-color: #000;
  box-shadow: 0 0 4px #3e3e3e;
  padding: 58px 0 54px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-header {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}
.contact-header:before {
  background: url(../img/contact.jpg) center center/cover no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.contact-headerInner {
  position: relative;
}

.contact-headerTxt {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .contact-headerTxt {
    line-height: 1.4285714286;
  }
}

.contact-content {
  padding: 60px 120px 60px;
}
@media screen and (max-width: 767px) {
  .contact-content {
    padding: 36px 12px 38px;
  }
}

.contact-item + .contact-item {
  margin-top: 27px;
}
@media screen and (max-width: 767px) {
  .contact-item + .contact-item {
    margin-top: 26px;
  }
}
.contact-item + .contact-item.contact-item--radio {
  margin-top: 26px;
}
.contact-item + .contact-item.contact-item--message {
  margin-top: 26px;
}
.contact-item:not(.mod-message) {
  display: flex;
}
.contact-item input[type=text], .contact-item input[type=email] {
  border: none;
  border-bottom: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 0.03em;
  padding: 3px 12px 2px;
  position: relative;
  width: 100%;
  color: #000;
}
@media screen and (max-width: 767px) {
  .contact-item input[type=text], .contact-item input[type=email] {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.4rem;
  }
}
.contact-item input[type=text]:hover, .contact-item input[type=text]:focus {
  border-color: #4973ff;
  outline: none;
}
.contact-item input[type=email]:hover, .contact-item input[type=email]:focus {
  border-color: #4973ff;
  outline: none;
}
.contact-item input[type=text]:hover + .contact-focusLine, .contact-item input[type=text]:focus + .contact-focusLine {
  opacity: 1;
}
.contact-item input[type=email]:hover + .contact-focusLine, .contact-item input[type=email]:focus + .contact-focusLine {
  opacity: 1;
}
.contact-item input[type=radio] {
  display: none;
  vertical-align: text-top;
}
.contact-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  color: #000;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 34px 0 8px;
  transition: box-shadow 0.2s;
}
@media screen and (max-width: 767px) {
  .contact-item select {
    font-size: 1.4rem;
    line-height: 38px;
    height: 38px;
    width: 100%;
  }
}
.contact-item select::-ms-expand {
  display: none;
}
.contact-item textarea {
  border: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 1.6rem;
  height: 160px;
  margin-top: 3px;
  outline: none;
  padding: 0.5em;
  resize: vertical;
  transition: 0.2s;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact-item textarea {
    margin-top: 12px;
  }
}
.contact-item textarea:focus {
  border-color: #4973ff;
  box-shadow: 0 0 4px #4973ff;
}

.contact-inputBox {
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-inputBox {
    margin-top: 3px;
  }
}

.contact-selectBox {
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-selectBox {
    margin-top: 12px;
  }
}
.contact-selectBox:after {
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 16px;
  top: 14px;
  transform: rotate(45deg);
  width: 8px;
}

.contact-focusLine {
  bottom: 1px;
  box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  display: block;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  width: 100%;
}

.contact-itemTtl {
  align-items: center;
  display: flex;
  flex: 0 0 188px;
  font-weight: bold;
}

.contact-requireLabel {
  background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-left: 12px;
  padding: 0;
  text-align: center;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .contact-requireLabel {
    margin-left: 20px;
  }
}

.contact-privacy {
  display: inline-block;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .contact-privacy {
    margin-top: 26px;
  }
}

.contact-privacyLabel {
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  padding-left: 38px;
  position: relative;
  font-weight: 700;
}
.contact-privacyLabel:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
  transition: 0.2s;
  width: 16px;
}
@media screen and (max-width: 767px) {
  .contact-privacyLabel:before {
    width: 18px;
    height: 18px;
  }
}
.contact-privacyLabel:after {
  border-bottom: solid 2px #4973ff;
  border-left: solid 2px #4973ff;
  content: "";
  display: block;
  height: 6px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  transition: 0.2s;
  width: 12px;
}
@media screen and (max-width: 767px) {
  .contact-privacyLabel:after {
    left: 3px;
  }
}

input[type=checkbox]:checked + .contact-privacyLabel:after {
  opacity: 1;
}

.contact-radio {
  display: inline-block;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .contact-radio {
    margin-left: 32px;
  }
}

.contact-radioLabel {
  padding-left: 22px;
  position: relative;
}
.contact-radioLabel:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 2px;
  transition: 0.2s;
  width: 12px;
}
.contact-radioLabel:after {
  background: #4973ff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transition: 0.2s;
  width: 6px;
}

input[type=radio]:checked + .contact-radioLabel:after {
  opacity: 1;
}

.contact-button {
  margin-top: 38px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: #004BB1;
}
@media screen and (max-width: 767px) {
  .contact-button {
    padding: 0 1.5em;
    width: 165px;
    margin-top: 32px;
  }
}
.contact-button:disabled {
  background-color: #b2b2b2;
}

.contact-center {
  text-align: center;
}

/*===================================
# footer
===================================*/
.footer {
  background: #f7f7f7;
  padding: 42px 40px 12px;
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}

.footer-nav__list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.footer-nav__item + .footer-nav__item {
  margin-left: 30px;
}

.footer-nav__item-link {
  font-size: 12px;
  color: #000;
  display: block;
  padding: 1em 0;
}

.footer-sns__list {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.footer-sns-item {
  display: inline-block;
}
.footer-sns-item + .footer-sns-item {
  margin-left: 30px;
}

.footer-sns-item__link {
  color: #000;
  font-size: 24px;
  display: block;
  padding: 0.1em 0.5em;
}

.footer-copy-right {
  text-align: center;
  color: #888;
  font-size: 12px;
  margin-top: 10px;
}

/*===================================
# sellContact
===================================*/
.section-sellContact {
  background: #F0F3F5;
}

.sellContact {
  background: #F0F3F5;
  padding: 40px 16px;
}
.sellContact input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
.sellContact input[type=checkbox] {
  display: none;
}
.sellContact .util-ttl {
  color: #fff;
  text-align: center;
}

.sellContact-inner {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  width: 100%;
}

.sellContact-header {
  color: #fff;
  background-color: #000;
  box-shadow: 0 0 4px #3e3e3e;
  padding: 58px 0 54px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .sellContact-header {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}
.sellContact-header:before {
  background: url(../img/sellContact.jpg) center center/cover no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.sellContact-headerInner {
  position: relative;
}

.sellContact-headerTxt {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .sellContact-headerTxt {
    line-height: 1.4285714286;
  }
}

.sellContact-content {
  padding: 60px 120px 60px;
}
@media screen and (max-width: 767px) {
  .sellContact-content {
    padding: 36px 12px 38px;
  }
}

.sellContact-item + .sellContact-item {
  margin-top: 27px;
}
@media screen and (max-width: 767px) {
  .sellContact-item + .sellContact-item {
    margin-top: 26px;
  }
}
.sellContact-item + .sellContact-item.sellContact-item--radio {
  margin-top: 26px;
}
.sellContact-item + .sellContact-item.sellContact-item--message {
  margin-top: 26px;
}
.sellContact-item:not(.mod-message) {
  display: flex;
}
.sellContact-item input[type=text], .sellContact-item input[type=email] {
  border: none;
  border-bottom: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 0.03em;
  padding: 3px 12px 2px;
  position: relative;
  width: 100%;
  color: #000;
}
@media screen and (max-width: 767px) {
  .sellContact-item input[type=text], .sellContact-item input[type=email] {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.4rem;
  }
}
.sellContact-item input[type=text]:hover, .sellContact-item input[type=text]:focus {
  border-color: #4973ff;
  outline: none;
}
.sellContact-item input[type=email]:hover, .sellContact-item input[type=email]:focus {
  border-color: #4973ff;
  outline: none;
}
.sellContact-item input[type=text]:hover + .sellContact-focusLine, .sellContact-item input[type=text]:focus + .sellContact-focusLine {
  opacity: 1;
}
.sellContact-item input[type=email]:hover + .sellContact-focusLine, .sellContact-item input[type=email]:focus + .sellContact-focusLine {
  opacity: 1;
}
.sellContact-item input[type=radio] {
  display: none;
  vertical-align: text-top;
}
.sellContact-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  color: #000;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 34px 0 8px;
  transition: box-shadow 0.2s;
}
@media screen and (max-width: 767px) {
  .sellContact-item select {
    font-size: 1.4rem;
    line-height: 38px;
    height: 38px;
    width: 100%;
  }
}
.sellContact-item select::-ms-expand {
  display: none;
}
.sellContact-item textarea {
  border: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 1.6rem;
  height: 160px;
  margin-top: 3px;
  outline: none;
  padding: 0.5em;
  resize: vertical;
  transition: 0.2s;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .sellContact-item textarea {
    margin-top: 12px;
  }
}
.sellContact-item textarea:focus {
  border-color: #4973ff;
  box-shadow: 0 0 4px #4973ff;
}

.sellContact-inputBox {
  position: relative;
}
@media screen and (max-width: 767px) {
  .sellContact-inputBox {
    margin-top: 3px;
  }
}

.sellContact-selectBox {
  position: relative;
}
@media screen and (max-width: 767px) {
  .sellContact-selectBox {
    margin-top: 12px;
  }
}
.sellContact-selectBox:after {
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 16px;
  top: 14px;
  transform: rotate(45deg);
  width: 8px;
}

.sellContact-focusLine {
  bottom: 1px;
  box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  display: block;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  width: 100%;
}

.sellContact-itemTtl {
  align-items: center;
  display: flex;
  flex: 0 0 188px;
  font-weight: bold;
}

.sellContact-requireLabel {
  background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-left: 12px;
  padding: 0;
  text-align: center;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .sellContact-requireLabel {
    margin-left: 20px;
  }
}

.sellContact-privacy {
  display: inline-block;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .sellContact-privacy {
    margin-top: 26px;
  }
}

.sellContact-privacyLabel {
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  padding-left: 38px;
  position: relative;
  font-weight: 700;
}
.sellContact-privacyLabel:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
  transition: 0.2s;
  width: 16px;
}
@media screen and (max-width: 767px) {
  .sellContact-privacyLabel:before {
    width: 18px;
    height: 18px;
  }
}
.sellContact-privacyLabel:after {
  border-bottom: solid 2px #4973ff;
  border-left: solid 2px #4973ff;
  content: "";
  display: block;
  height: 6px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  transition: 0.2s;
  width: 12px;
}
@media screen and (max-width: 767px) {
  .sellContact-privacyLabel:after {
    left: 3px;
  }
}

input[type=checkbox]:checked + .sellContact-privacyLabel:after {
  opacity: 1;
}

.sellContact-radio {
  display: inline-block;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .sellContact-radio {
    margin-left: 32px;
  }
}

.sellContact-radioLabel {
  padding-left: 22px;
  position: relative;
}
.sellContact-radioLabel:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 2px;
  transition: 0.2s;
  width: 12px;
}
.sellContact-radioLabel:after {
  background: #4973ff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transition: 0.2s;
  width: 6px;
}
.sellContact-radioLabel input[type=radio]:checked + .sellContact-radioLabel:after {
  opacity: 1;
}
.sellContact-radioLabel .sellContact-button {
  margin-top: 38px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: #004BB1;
}
@media screen and (max-width: 767px) {
  .sellContact-radioLabel .sellContact-button {
    padding: 0 1.5em;
    width: 165px;
    margin-top: 32px;
  }
}
.sellContact-radioLabel .sellContact-button:disabled {
  background-color: #b2b2b2;
}
.sellContact-radioLabel .sellContact-center {
  text-align: center;
}